<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server_V1.Properties.Settings.DHCK_ServerConnectionString"
            connectionString="Data Source=GODRICSLAPTOP\SQLEXPRESS;Initial Catalog=DHCK_Server;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Server_V1.Properties.Settings.DHCK_ServerConnectionString1"
            connectionString="Data Source=192.168.1.101,1433;Initial Catalog=DHCK_Server;User ID=sa;Password=DHCK83886808"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>